.header-bg {
  background-color: #ff8f54;
}

.header-brand {
  font-size: 1.3em;
}

.header-login {
  background-color: transparent;
  border: black solid 2px;
}
.header-login:hover {
  border-color: #ff8f54;
  color: #ff8f54;
}
