* {
  margin: 0;
  padding: 0;
}

.bg-tombol {
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
  border: none;
  color: white;
}
.bg-tombol:hover {
  background-color: #fd9457;
  background-image: linear-gradient(62deg, #fd9457 0%, #f7ce68 100%);
}

.warna {
  color: #fbab7e;
}

/* .inp:focus {
  outline: none !important;
} */

.form-control:focus {
  border-color: transparent !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #fbab7e !important;
}
